<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.saferoute">

    <!-- REQUIRED -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:label="SafeRoute"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!-- REQUIRED: your API key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDLlpIpLwFoHDImM_jOBxUfXuQ3y1AVBi0"/>

        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

    </application>

</manifest>
